modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "gce"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.development]
DEV_BYPASS_AUTH = "true"
POLYGON_OPTIONS_WS_ENABLED = "1"

[userenv.shared]
IB_CLIENT_ID = "1"
IBKR_GATEWAY_URL = "https://ibkr.nucolbyterminal.com"
VAPID_PUBLIC_KEY = "BHOmJUZn2LMBwHxtscyCAQP-OeBSTMKYgKFNrJIg8vBkt_kBYoGRQ0Yoa2Xqx-SnOE4HWyV8Mb9lO9nZQXW2csU"
VAPID_PRIVATE_KEY = "HxFu2srI_U78h7lnn1vF7d-l0U0ODTZJQk2qd3URub4"
DATA_BLS = "d2ed373b4e4a4554b95cd0a158870c5b"
BENZINGA_API_KEY = "bz.5MMIV5EVAVS4DNKXYJ72YOOK2WD6IVCJ"
POLYGON_S3_ACCESS_KEY = "f511ca1c-fec0-448f-9bef-6bddcbadb3a1"
POLYGON_S3_SECRET_KEY = "WDXGpBeiLmxkipYdJo2eGDHQgmV0JNuU"
POLYGON_S3_ENDPOINT = "https://files.massive.com"
POLYGON_S3_BUCKET = "flatfiles"
ADMIN_API_KEY = "0b62a0310a53057dfafeb0c3bb511a68c8fc5a5438c1d88ce8bce8345ed11a05"

[userenv.production]
POLYGON_OPTIONS_WS_ENABLED = "1"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18262
externalPort = 3000
